<extend name="Public:layout" />
<block name="toptitle">
<li class="active"><a href="__MODULE__/ArticleType/index">文章分类列表</a></li>
<li class="active"><a href="__MODULE__/ArticleType/add">添加文章分类</a></li>
</block>
<block name="main">
<!-- 添加文章分类 -->
<div class="page-content">
	<div class="page-header">
		<h1>
			文章分类管理
			<small>
				<i class="icon-double-angle-right"></i>
				添加文章分类
			</small>
		</h1>
	</div><!-- /.page-header -->
	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<form class="form-horizontal" role="form" method="post" id="addform">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 文章分类名字 </label>

					<div class="col-sm-9">
						<input type="text" id="form-field-1" placeholder="请输入文章分类名字。" class="col-xs-10 col-sm-5" name="article_type_name" required/><span class="text-danger" style="display:none">请输入分类名字！</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 文章分类排序 </label>

					<div class="col-sm-9">
						<input type="number" id="form-field-1" placeholder="请输入数字，按值从大到小排序。" class="col-xs-10 col-sm-5" name="order"/>
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 是否显示分类 </label>
					<div class="col-xs-3">
						<div class="radio">
							<label>
							<input name="is_show" type="radio" class="ace" value="1" checked>
							<span class="lbl">显示</span>
							</label>
							<label>
							<input name="is_show" type="radio" class="ace" value="0">
							<span class="lbl">不显示</span>
							</label>
						</div>
					</div>
				</div>

				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="button" id="addtype">
							<i class="icon-ok bigger-110"></i>
							提交
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		</div><!-- /.col -->
	</div><!-- /.row -->
	</div><!-- /.page-content -->
	<script>
	$(function(){
		//验证是否输入
		var name=false;
		$('input[name="article_type_name"]').blur(function(){
			if($(this).val() == ''){
				name=false;
				$(this).next().show();
			}else{
				name=true;
				$(this).next().hide();
			}
		})
		
		$('#addtype').click(function(){
			if($('input[name="article_type_name"]').val()==''){
				name=false;
				$('input[name="article_type_name"]').focus().next().show();
			}
			if(!name){
				return false;
			}
			var data = $('#addform').serialize();
			$.post('__CONTROLLER__/insert',data,function(data){
				if(data == 1){
					// alert('success');
					layer.msg('添加成功！',2,function(){
						location.href = '__CONTROLLER__/index';
					});
				}else{
					layer.msg('添加失败！',2,3);
					// alert('error');
				}
			})
		})
	})
</script>
</block>