<!-- /***********个人中心左导航*************/ -->
    <div class="side_bar">
        <h1>
            <a title="我的蜂巢" href="__MODULE__/Center">我的蜂巢</a>
        </h1>
        <dl>
            <dt>订单中心</dt>
            <dd>
                <a href="__MODULE__/MyOrder/order">我的订单</a>
                <a href="__MODULE__/Center/like">我的收藏</a>
                <a href="__MODULE__/Center/comment">我的评价</a>
            </dd>
        </dl>
        <dl>
            <dt>账户管理</dt>
            <dd>
                <a href="__MODULE__/Center/inform">个人资料设置</a>
                <a href="__MODULE__/Center/safe">账户安全设置</a>
                <a href="__MODULE__/Center/address">收货地址管理</a>
            </dd>
        </dl>
    </div>