<!-- footer 开始 -->
<div style="width: 1200px;" class="loginfooter">
    <p>
        <a rel="nofollow" target="_blank" href="#">关于乐蜂</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">免责声明</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">隐私声明</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">版权声明</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">招聘信息</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">联系我们</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">帮助中心</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">网站联盟</a>&nbsp;
        <a target="_blank" href="#">友情链接</a>&nbsp;
        <a rel="nofollow" target="_blank" href="">商务合作</a>
    </p>
    <p>Copyright&nbsp;©2008-2014&nbsp;Lefeng.com&nbsp;All&nbsp;Rights&nbsp;Reserved.&nbsp;
        <a rel="nofollow" target="_blank" href="#">京ICP证080382号</a>&nbsp;
        <a rel="nofollow" target="_blank" href="#">京ICP备10006831号-1</a>&nbsp;京公网安备110105014183&nbsp;
        <a rel="nofollow" target="_blank" href="#">营业执照</a>
    </p>
</div> 

<!-- footer 结束 -->