<extend name="Public:cartlayout" />
<block name="main">
	<link rel="stylesheet" href="__PUBLIC__/home/css/cart_confirm.css">
	<link rel="stylesheet" href="__PUBLIC__/home/css/shop-order.css">
	<!--头部结束-->
	<div class="content-wrap">

		<div class="pay-wrap gwrap gheader">

			<p class="text"> <b></b>
				订单提交成功，请您尽快付款！
			</p>
			<div class="info">
				<p class="order-mes pay bank-type">
					<!-- 在线支付区域开始 -->
					<span>
						订单号：{$confirm.acti} <b class="pay-money">应付金额： <em><i>￥</i>
								{$confirm.action_count}</em></b> 
					</span>

					<!-- 在线支付区域结束 -->
				</p>
			</div>

		</div>

		<p class="notice">&nbsp;&nbsp;&nbsp;&nbsp;为及时处理您的订单，请尽快完成付款</p>

		<div class="bank-wrap gwrap gheader">

			<p class="text">

				<b></b>
				只差一步，请尽快支付！
			</p>

			<div class="info">

				<div class="bank-list" id="ptpay">
					<h3>支付平台</h3>

					<ul class="clearfix">
						<foreach name="pay" item="vo">
							<li name="bank" {$vo.che} > <i></i>
								<b></b>
								<a href="javascript:void(0);" platformid="0" >
									<img src="__PUBLIC__{$vo.pay_logo}" alt="{$pay.pay_name}" style="height:40px;width:140px"></a>
							</li>
						</foreach>
					</ul>
				</div>

			</div>

			<div class="pay-for">
				<a class="" id="goPay" href="javascript:;" ></a>
				<span> <em id="gopayMoney"><i>￥</i>
						{$confirm.action_count}</em> 
					待支付总额：
				</span>
			</div>
			<div id="lock" style="display:none;"></div>
			<div style="display:none; top: 200px;" id="path_wind" class="pathadd">
			<br>
				<span>请输入支付密码</span>
				<p><input type="password" name="pwd"><br></p>
				<span id="shipwind_optbutton" opt="add" class="save">确认支付</span><span id="msg"></span>
			</div>
			<script>
			$(function() {
				$('li[name="bank"]').eq(0).addClass('chked');
				$('li[name="bank"]').bind('click',function() {
					$('li[name="bank"]').removeClass('chked');
					$(this).addClass('chked');
				})

				$('#goPay').bind('click',function() {
					$('#path_wind,#lock').show();
				})

				$('#shipwind_optbutton').bind('click',function() {
					$.post('__CONTROLLER__/pwdch',{pwd:$(this).prev().children('input').val()},function(data) {
						if(data){
							window.location.href="__CONTROLLER__/pay/id/{$confirm.id}";
						}else{
							$('#msg').css('color','red').html('　支付密码错误！');
						}
					})
				})

			})

			</script>

		</block>