<extend name="Public:layout" />
<block name="cssjs">
    <!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/fengchao.css"> -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/personal.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/home_v2.css">
</block>
<!--header-->
<!--头部结束-->
<block name="main">
<div class="mainBg">
<div class="main clearfix">
{:W('Menu/Centers')}
    <div class="content">
        <div class="pn-top-nav">
            <h1 class="clearfix">
                <span>账户安全设置</span>
            </h1>
        </div>
        <div class="pn-safety">
            <p class="pn-safety-sign">
            上次登录：<empty name="$user.user_lastlogin">{$Think.session.user.user_lastlogin|date="Y-m-d H:i:s",###}&nbsp;<else />{$user.user_lastlogin|date="Y-m-d H:i:s",###}&nbsp;</empty>
                <cite>
                    (&nbsp;如果不是您本人登录的，请立即&nbsp;
                    <a href="__CONTROLLER__/changepwd">修改密码</a>
                    &nbsp;)
                </cite>

            </p>
            <table>
                <tbody>

                    <tr>
                        <td>
                            <strong class="isok">登录密码</strong>
                        </td>
                        <td>
                            您的密码已长时间未修改过，建议您定期修改以保护账户安全
                            <br>
                         <!--    密码强度
                            <cite class="pn-weight">
                                <code class="pn-pwd-middle"></code>
                            </cite> -->

                        </td>
                        <td>
                            <a href="__CONTROLLER__/changepwd" class="pn-safety-edit">修改</a>
                        </td>
                    </tr>
<!-- 
                    <tr>

                        <td>
                            <strong>邮箱验证</strong>
                        </td>
                        <td>
                            可用于邮箱找回登录密码，接收订单提醒服务
                            <br>
                            <span>验证成功后更可获得50花粉奖励！</span>
                        </td>
                        <td>
                            <a href="#" class="pn-safety-check">立即验证</a>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <strong class="pn-safety-check">支付密码</strong>
                        </td>
                        <td>设置后在使用礼品卡支付时需输入支付密码，账户资产更安全</td>
                        <td>
                            <a href="#" class="pn-safety-check" id="checkPay" data="0">立即验证</a>
                        </td>

                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</block>
<!--
<script type="text/javascript">
setTimeout(function () {
    //baidu
    //document
    (function (d) {
        window.bd_cpro_rtid = "PWTYrjn";
        var s = d.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
        var s0 = d.getElementsByTagName("script")[0];
        s0.parentNode.insertBefore(s, s0);

        //ga

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34801627-1']);
        _gaq.push(['_setDomainName', 'lefeng.com']);
        _gaq.push(['_setCampNameKey', 'utm_campaign']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script')
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    })(document);
}, 100)
</script>

<script type="text/javascript" src="__PUBLIC__/dist/js/lafaso_wt.js"></script>

</div>
<script>

    function topCcountDown(t,c,_self,fn){
        function nd(d){return isNaN(d) ? (d ? new Date(d).getTime() : new Date().getTime()) : d * 1000;}
        var e = [nd(t[0]),nd(t[1]),nd(t[2])],_s = _self,b;
        if(!$(_s).length){return false;}
        if(t[0] && e[0] > e[1]){
            $(_s).html(c[1]);
            return false;
        }else if(e[1] > e[2]){
            fn && fn($(_s));
            $(_s).html(c[2]);
            return false;
        }
        (b=function(l){
            var l=l||(e[2]-e[1])/100,k={
                D:l/36000/24,H:l/36000%24,M:l/600%60,S:l/10%60,s:l%10
            };
            $(_s).html(c[0].replace(/D|H|M|S|s/g,function(m){
                var n = parseInt(k[m]) + ''
                if (n.length == 1 && m != 'D' && m != 's'){
                    n = 0 + n;
                }
                return n
            }));
            setTimeout(function(){b(l-1)},100);
        })()
    }

//topCcountDown([,,'2014/04/18 00:00:00'],['<b>D</b><b>H</b><b>M</b><b>S</b><b>s</b>','',''],'#top_countdown',function(){$('#advTop').remove()});

</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?69200f796b23f8fe027c39886c7298db";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script type="text/javascript">
var google_tag_params = {
 
ecomm_pagetype : 'REPLACE_WITH_VALUE',
ecomm_prodid : 'REPLACE_WITH_VALUE',
ecomm_pcat : 'REPLACE_WITH_VALUE',
ecomm_totalvalue : 'REPLACE_WITH_VALUE',
ecomm_login : 'REPLACE_WITH_VALUE'
 
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1049985484;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]>*/</script>
<script type="text/javascript" src="__PUBLIC__/dist/js/conversion.js"></script>
<iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="./账户管理_账户安全设置_files/saved_resource.htm" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">
&lt;img height="1" width="1" border="0" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1049985484/?frame=0&amp;random=1417521188127&amp;cv=7&amp;fst=1417521188127&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1024&amp;u_ah=738&amp;u_aw=1024&amp;u_cd=24&amp;u_his=50&amp;u_tz=480&amp;u_java=true&amp;u_nplug=16&amp;u_nmime=30&amp;data=ecomm_pagetype%3DREPLACE_WITH_VALUE%3Becomm_prodid%3DREPLACE_WITH_VALUE%3Becomm_pcat%3DREPLACE_WITH_VALUE%3Becomm_totalvalue%3DREPLACE_WITH_VALUE%3Becomm_login%3DREPLACE_WITH_VALUE&amp;frm=0&amp;url=http%3A//passport.lefeng.com/user/security_center.jsp%3Fcur%3D18f&amp;ref=http%3A//order.lefeng.com/myvouchers.jsp%3Fcur%3D5f%26p3c51ckp0ze2z0d&amp;vis=1" /&gt;
</iframe>
<noscript>
&lt;div style="display:inline;"&gt;
&lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1049985484/?value=0&amp;guid=ON&amp;script=0"/&gt;
&lt;/div&gt;
</noscript>

